button {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: rgb(64, 199, 129);
  box-shadow: 0 -3px rgb(53, 167, 110) inset;
  transition: 0.2s;
}
button:hover {
  background: rgb(53, 167, 110);
}
button:active {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}

html {
  background: url(poster-about.jpg);
  background-size: cover;
}
input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}
table {
  width: 100%; /* Ширина таблицы */
  border-spacing: 7px 5px; /* Расстояние между границ */
}
td {
  padding: 5px; /* Поля в ячейках */
}
